nav{
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    box-shadow: 4px 4px 8px #00000020;
   color: black;
   font-size: 1.8rem;

    img{
        width: 3rem;
    }
}

nav > svg{
    height: 9rem;
    width: auto;
    fill: #26e;
}